* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.tabs {
  max-width: 700px;
  background: #9dc6dd;
  margin: 0 auto;
  border: 1px solid #000000;
}
.title {
  background: #7fe3f0;
  text-transform: uppercase;
  padding: 10px 5px;
  width: 100%;
  text-align: center;
} 
.title:hover {
  border-bottom: none;
}
.body {
  text-transform: uppercase;
  text-align: center;
}