.tabset-title {
  display: flex;
} 
.tabset-body {
  padding: 20px 20px;
}
.tabset-title-item {
  cursor: pointer;
}
.tabset-title-item.active {
  background: #9dc6dd;
}
.tabset-body-item {
  display: none;
}  
.tabset-body-item.active {
  display: block;
} 